@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
.gradient-filter {
  background-image: linear-gradient(135deg, #2183e8, #8a2cf6);
  opacity: 0.8;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  position: absolute;
}

/* Animation effect in Login */
@keyframes border-loop {
  0% {
    top: 0;
    left: 0;
  }
  25% {
    top: 0;
    left: 100%;
    transform: translateX(-100%);
  }
  50% {
    top: 100%;
    left: 100%;
    transform: translate(-100%, -100%);
  }
  75% {
    top: 100%;
    left: 0;
    transform: translateY(-100%);
  }
  100% {
    top: 0;
    left: 0;
  }
}
.animate-border-loop {
  animation: border-loop 2s linear infinite;
}

/* ---------------------------------------------------------------------- */

.dark .gradient-filter {
   background-image: linear-gradient(135deg, #1e3a8a, #6b21a8)
}

.loginBtn {
  background-image: linear-gradient(129deg, #2183e8, #8a2cf6);
  transition: width 0.3s;
}

.dark .loginBtn {
  background-image: linear-gradient(129deg, #1e3a8a, #6b21a8);
}
.loginBtn:disabled {
  background-image: linear-gradient(129deg, hsl(215, 5%, 53%), #d2d7dd);
  cursor: not-allowed;
}

.active-user::before {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #18d318;
  top: -3px;
  left: 26px;
}

.user-dropdown::before {
  content: "";
  position: absolute;
  top: -8px;
  left: 50%;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #f1f5f9;
}

/*  Switch slider of themes */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  background-color: #ccc;
  border-radius: 34px;
  transition: 0.4s;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
  background-color: #ffff;
  border-radius: 50%;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #8a2cf6;
}

input:checked + .slider:before {
  transform: translateX(26px);
}
/* ---------------------------------------------------------------------- */

/* Light Calendar: */
.light-calender .ant-picker-panel {
  background-color: #f1f5f9 !important;
}

.light-calender .ant-picker-calendar {
  background-color: #f1f5f9 !important;
}

/* Dark Calendar: */
.dark-calendar .ant-picker-panel {
  background-color: #28264f !important;
  color: #ffff !important;
}

.dark-calendar .ant-picker-cell {
  color: #ffff !important;
}

.dark-calendar .ant-picker-header {
  color: #ffff !important;
  background-color: #28264f !important;
}

.dark-calendar .ant-picker-content th {
  color: #ffff !important;
}
.dark-calendar .ant-picker-calendar{
  background: #28264f !important;
}

.dark-calendar .ant-select-selector{
  background-color: #6b21a8 !important;
  color: #ffff !important;
  border: none !important;
}

.dark-calendar .ant-select-dropdown{
  background-color: #6b21a8 !important;
  color: #ffff !important;
}

.dark-calendar .ant-radio-group .ant-radio-button-wrapper{
  background-color: #6b21a8 !important;
  border: none !important;
}

.dark-calendar .ant-picker-cell-selected .ant-picker-cell-inner {
  background-color: #6b21a8 !important;
  color: #ffff !important;
  border-radius: 4px;
}

/* ----------------------------------------------------------------------- */

/* DARK MODAL: */
.dark-modal .ant-modal-content{
  background-color: #28264f !important;
}

.dark-modal .ant-modal-title{
  color: #ffff;
  background-color: #28264f !important;
}

.dark-modal label{
  color: #ffff !important;
}

.dark-modal .ant-input{
  background-color: #b58cd7;
}

.dark-modal .ant-picker{
  background-color: #b58cd7;
}

.dark-modal .ant-picker-panel-container .ant-picker-date-panel-container{
  background: #6b21a8 !important;
}

.dark-mode .ant-picker-dropdown .ant-picker-panel-container {
  background-color: #6b21a8 !important;
  color: #ffff !important;
}

.dark-mode .ant-picker-dropdown .ant-picker-cell {
  color: #ffff !important;
}

.dark-mode .ant-picker-dropdown .ant-picker-header {
  background-color: #6b21a8 !important;
  color: #ffff !important;
}

.dark-mode .ant-picker-dropdown .ant-picker-content th {
  color: #ffff !important;
}

/* ---------------------------------------------------------------- */

/* Dark Date Input:  */

.dark .ant-picker-panel-container  {
  background-color: #28264f !important;
  color: #ffff !important;
}

.dark .ant-picker-cell {
  color: #ffff !important;
}

.dark .ant-picker-content th {
  color: #ffff !important;
}

.dark .ant-picker-header {
  color: #ffff !important;
} 

.dark .ant-picker-header-super-prev-btn{
  color: #ffff !important;
}

.dark .ant-picker-header-prev-btn{
  color: #ffff !important;
}

.dark .ant-picker-header-next-btn{
  color: #ffff !important;
}

.dark .ant-picker-header-super-next-btn{
  color: #fff !important;
}
.dark .ant-picker-cell-today  .ant-picker-cell-inner {
  background-color: #6b21a8 !important;
  color: #ffff !important;
  border-radius: 4px;
}

/* ---------------------------------------------------------------------------- */

/* Selected Event Styling: */
.events-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.ant-picker-cell-inner {
  position: relative;
}

.ant-picker-cell-inner .highlight {
  position: absolute;
  /* top: -25px;
  right: 15px; */
  transform: translate(-11px, -25px);
  width: 25px;
  height: 25px;
  background-color: #6b21a8 !important;
  border-radius: 50%;
  color: #ffff !important;
  z-index: -1;
}

/* ant select styling */

.dark .ant-select {
  background-color: #6b21a8 !important;
  border: none !important;
}

.dark .ant-select-selector{
  background-color: #6b21a8 !important;
  color: #ffff !important;
  border: none !important;
}

.dark .ant-select-arrow{
  color: #ffff !important;
}

@media screen and (min-width:100px) and (max-width:767px){
  .switch{
    display: none;
  }
}
@media screen and (min-width: 800px) and (max-width: 950px) {
  .loginBtn {
    width: 60%;
    transform: translateX(25%);
  }

  .loginLogo {
    left: 35%;
  }
}
