@import "tailwindcss";
.gradient-filter {
    background-image: linear-gradient(135deg, #2183e8, #8a2cf6);
    opacity: 0.8;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    position: absolute;
}

.loginBtn{
    background-image: linear-gradient(129deg, #2183e8, #8a2cf6);
    transition: width 0.3s;
}